/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Carrois+Gothic+SC|Julius+Sans+One|Londrina+Outline|Calligraffitti|Contrail+One|Neucha|Permanent+Marker|Sriracha|Vampiro+One');

.map-index {
  text-align: center;
  margin-bottom: 10px;
}
 #map {
   /* position: absolute; */
   /* top: 45px;
   bottom: 0;
   width: 50%; */
 }
/* https://cdn3.iconfinder.com/data/icons/map/500/restaurant-256.png */
 .marker {
   background-image: url('https://raw.githubusercontent.com/mapbox/mapbox-gl-native/6e4eb094bf2feb9be4f5d2d73b1186aed768539b/platform/ios/resources/default_marker%402x.png');
   background-size: cover;
   width: 25px;
   height: 50px;
   cursor: pointer;
 }

 .mapboxgl-popup {
   max-width: 200px;
 }

 .mapboxgl-popup-content {
   text-align: center;
   font-family: 'Carrois Gothic SC', sans-serif;
 }
