form.edit_user {
  text-align: center;
  display: inline-block;
}

div.location-edit {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

div.form-actions {
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 125px;
  text-align: center;
}

div.actions {
  margin-bottom: 100px;
}

div.field {
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
}

div.form-actions h4 {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 60px;
  margin-top: 50px;
  font-family: 'Julius Sans One', sans-serif;
}

div.location-edit-form-field {
  width: 500px;
  border-radius: 15px;
  height: 25px;
}

div.field label {
  margin-bottom: 15px;
  font-size: 20px;
}

div.field input {
  font-size: 20px;
  height: 40px;
  margin-bottom: 45px;
  background-color: #F0F0F0;
  box-shadow: 13px 11px 29px 0px rgba(188,193,194,1);
  width: 500px;
  border-radius: 15px;
  height: 40px;
  padding-left: 20px;
}

div.actions input {
  font-family: 'Julius Sans One', sans-serif;
  border-radius: 15px;
  border: 1px #4d463b solid;
  color: #F9FEFF;
  background-color: #a39b8e;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 100px;
  height: 75px;
  width: 350px;
  box-shadow: 13px 11px 29px 0px rgba(188,193,194,1);
}

div.actions input:hover {
  border: 1px #46B66B solid;
  background: rgba(0,0,0,0);
  color: #46B66B;
  box-shadow: inset 0 0 0 3px #46B66B;
  box-shadow: -14px 6px 187px -23px rgba(70,222,95,1);
}
